<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main class="mb-5">
    <div class="container w-50 mt-5">
        <h1 class="mt-5 mb-5 text-center"><span th:text="${action}"></span> a food category</h1>
        <form class="mx-auto w-100"
              th:action="${action == 'Add'} ? '/food/category/add' : '/food/category/edit/' + ${categoryId}"
              th:method="post" th:object="${foodCategoryCreateBindingModel}"
        >
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control"
                       id="name"
                       placeholder="Category"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                       th:field="*{name}">
                <small class="error" th:if="${#fields.errors('name')}" th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control"
                          id="description"
                          placeholder="Description"
                          rows="3"
                          th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
                          th:field="*{description}">
                </textarea>
                <small class="error" th:if="${#fields.errors('description')}" th:errors="*{description}"></small>
            </div>
            <div class="button-holder d-flex justify-content-center mt-4">
                <button class="btn btn-secondary text-white mb-3" type="submit"><span th:text="${action}"></span> Category</button>
            </div>
        </form>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>