<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{/_shared/head}"/>
<body>
<th:block th:include="~{/_shared/header}"/>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="/img/404.jpg" alt="Page not found!">

                <hr>

                <div class="error-actions" sec:authorize="isAnonymous()">
                    <a th:href="@{/}" class="btn btn-secondary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
                <div class="error-actions" sec:authorize="isAuthenticated()">
                    <a th:href="@{/home}" class="btn btn-secondary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{/_shared/footer}"/>
</body>
</html>