<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<link rel="stylesheet" href="/css/daily-story-css.css">
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <section id="sidebar">
        <div class="header">
            <h1>Daily story</h1>
            <div class="day-picker">
                <form th:action="@{/diary}">
                    <a th:href="@{'/diary/' + ${yesterday}}"><</a>
                    <span th:text="${today}"></span>
                    <a th:href="@{'/diary/' + ${tomorrow}}">></a>
                </form>
            </div>
        </div>
        <section class="stats">
            <p>
                instructions
            </p>
            <div>
                some stats
            </div>
        </section>
    </section>
    <section id="view">
        <div id="btn-holder">
            <button id="add-food-btn">Add Food</button>
            <button id="add-exercise-btn">Add Exercise</button>
            <button id="add-note-btn">Add note</button>
        </div>
        <section id="consumed-foods">
            <h5 class="section-title text-center">Foods consumed throughout the day:</h5>
            <div id="consumed-foods-body" class="container w-auto">
                <th:block th:if="${dailyStory != null}">
                    <ul>
                        <li th:each="food : ${dailyStory.getDailyStoryFoodAssociation()}">[[${food.name}]] - [[${food.gramsConsumed}]]</li>
                    </ul>
                </th:block>
            </div>
        </section>
        <section id="kcal-summary">

        </section>
        <section id="nutrients-container">
            <section id="macro" class="nutrients">
                <section id="proteins" class="macro-nutrients">
                    <h5 class="text-center section-title">Proteins</h5>
                    <div id="proteins-body" class="nutrient-body">
                        <div class="nutrient-row">
                            <span>Total proteins</span>
                            <span th:text="${dailyStory.totalProteins}"></span>
                            <span th:text="${#numbers.formatDecimal(dailyStory.totalProteins / macroTarget.proteinRDA * 100, 1, 2)} + '%'"></span>
                        </div>
                    </div>
                </section>
                <section id="carbs" class="macro-nutrients">

                </section>
                <section id="lipids" class="macro-nutrients">

                </section>
            </section>
            <section id="micro" class="nutrients">
                <section id="vitamins" class="micro-nutrients"></section>
                <section id="minerals" class="micro-nutrients"></section>
            </section>
        </section>
    </section>
    <div id="my-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content w-50">
            <div class="justify-content-end">
                <span class="close">&times;</span>
            </div>
            <div class="container">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-foods-all-tab" data-toggle="tab" href="#nav-foods-all" role="tab" aria-controls="nav-foods-all" aria-selected="true">All Foods</a>
                        <a class="nav-item nav-link" id="nav-foods-custom-tab" data-toggle="tab" href="#nav-foods-custom" role="tab" aria-controls="nav-foods-custom" aria-selected="false">Custom Foods</a>
                        <a class="nav-item nav-link" id="nav-foods-favorite-tab" data-toggle="tab" href="#nav-foods-favorite" role="tab" aria-controls="nav-foods-favorite" aria-selected="false">Favorite Foods</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-foods-all" role="tabpanel" aria-labelledby="nav-foods-all">
                        <table class="table table-bordered text-center">
                            <tr>
                                <th scope="col" class="font-weight-bold">Name</th>
                            </tr>
                            <tbody id="table-foods-all"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-foods-custom" role="tabpanel" aria-labelledby="nav-foods-custom">
                        <table class="table table-bordered text-center">
                            <tr>
                                <th scope="col" class="font-weight-bold">Name</th>
                            </tr>
                            <tbody id="table-foods-custom"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-foods-favorite" role="tabpanel" aria-labelledby="nav-foods-favorite">
                        <table class="table table-bordered text-center">
                            <tr>
                                <th scope="col" class="font-weight-bold">Name</th>
                            </tr>
                            <tbody id="table-foods-favorite"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="food-add-block" style="display: none">
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
<script src="/js/foods.js"></script>
</body>
</html>